theme = "gruvbox_dark_hard_transparent"

[editor]
line-number = "relative"

[editor.file-picker]
hidden = true

[editor.cursor-shape]
insert = "bar"

## general keybinds
[keys.normal]
"C-r" = ":toggle-option line-number absolute relative"

## alternatives for keybindings that use alt
[keys.normal."]"]
"]" = "select_next_sibling"
"o" = "expand_selection"
"i" = "shrink_selection"
";" = "flip_selections"

[keys.normal."["]
"[" = "select_prev_sibling"
"o" = "expand_selection"
"i" = "shrink_selection"
";" = "flip_selections"

## git integration
[keys.normal.C-g]
# open lazygit
g = [
    ":write-all",
    ":insert-output lazygit >/dev/tty",
    ":redraw",
    ":reload-all",
    ":set mouse false",
    ":set mouse true"
]
# open lazygit for current buffer (git log for current buffer)
l = [
    ":write-all",
    ":insert-output lazygit -f '%{buffer_name}' -sm half >/dev/tty",
    ":redraw",
    ":reload-all",
    ":set mouse false",
    ":set mouse true"
]
# in-line blame
b = ":sh echo \"$(git log -1 --pretty=format:'%%h %%an <%%ae> %%ad %%s' $(git blame -L '%{cursor_line},+1' '%{buffer_name}' | awk '{print $1}'))\""

## yazi integration
[keys.normal.C-y]
# Open file(s) in the current window
y = [
    ":sh rm -f /tmp/unique-file-h21a434",
    ":insert-output yazi '%{buffer_name}' --chooser-file=/tmp/unique-file-h21a434",
    ":insert-output echo \"x1b[?1049h\" > /dev/tty",
    ":open %sh{cat /tmp/unique-file-h21a434}",
    ":redraw",
    ":set mouse false",
    ":set mouse true",
]
# Open file(s) in a vertical split
v = [
    ":sh rm -f /tmp/unique-file-h21a434",
    ":insert-output yazi '%{buffer_name}' --chooser-file=/tmp/unique-file-h21a434",
    ":insert-output echo \"x1b[?1049h\" > /dev/tty",
    ":vsplit %sh{cat /tmp/unique-file-h21a434}",
    ":redraw",
    ":set mouse false",
    ":set mouse true",
]
# Open file(s) in a horizontal split
h = [
    ":sh rm -f /tmp/unique-file-h21a434",
    ":insert-output yazi '%{buffer_name}' --chooser-file=/tmp/unique-file-h21a434",
    ":insert-output echo \"x1b[?1049h\" > /dev/tty",
    ":hsplit %sh{cat /tmp/unique-file-h21a434}",
    ":redraw",
    ":set mouse false",
    ":set mouse true",
]
